<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Category</title>
</head>
<body>
    <div style="
    display: flex;
    justify-content: center;
    padding-top: 30px;
">
    <div style="
    border: 2px solid black;
    padding: 21px;
    text-align: center;
">
<h1>Select a Category</h1>
<form action="#" th:action="@{/task/selCategory}" method="post">
    <!-- Dropdown with caseType as the value instead of catID -->
    <select name="caseType" style="    padding: 10px;
    width: 150px;
">
        <option th:each="category : ${categories}" th:value="${category.caseType}" th:text="${category.caseType}"></option>
    </select>
    <button type="submit" style="padding: 10px;">Submit</button>
</form>
</div>
</div>
</body>
</html>
